/* Empty. Add your own CSS if you like */
.lyrics_para{
    font-family: sans-serif !important;
    font-size: 15px !important;
    color: #4e4a4a !important;
    margin-left: 11px !important;
    line-height: 22px !important;
}
